/* style.css
 * This file provides css styles.
 */

 @font-face {
	 font-family: IBMLogo;
	 src: url("../fonts/ibm-logo.ttf");
 }

p, img, figure, figcaption, div, canvas, header, section, label, html {
  outline:none;
  -webkit-user-select: none;
 	-moz-user-select:none;
 	-ms-user-select:none;
}

body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
	min-width: 1130px;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

header {
	margin: 0em 0em 1em 0em;
	border-bottom: 1px solid #ffffff;
}

/*** TOOLS ***/
#tools {
	display: inline-block;
	width: 300px;
	padding: 1.25em 0 1.25em 1.5em;
  opacity: 0.0;
}

/*** TEXT EDITOR ***/
#text-editor {
	vertical-align: top;
}

#text-editor label.section-title {
	display: block;
  padding: 0px 5px 5px 5px;
}

#text-editor textarea#text-value {
	width: 98%;
	max-width: 98%;
	min-width: 98%;
	height: 64px;
	max-height: 64px;
	min-height: 64px;
  font-size: 19px;
  border: none;
  background: #ffffff;
  border-radius: 3.5px;
}

#text-editor select {
	width: 106.75px;
	height: 32.25px;
	margin-bottom: 0.5em;
	text-align: center;
  font-size: 14px;
  border: solid 3px #ffffff;
  background: #ffffff;
  border-radius: 3.5px;
}

#text-editor #font-color {
	vertical-align: top;
	width: 12.0%;
	height: 32px;
	padding: 0;
	margin: 0;
	text-align: center;
  border: none;
  background: #ffffff;
  border-radius: 3.5px;
}

#text-editor #font-size {
	vertical-align: top;
	width: 39.0px;
	height: 32px;
	padding: 0;
	margin: 0;
	text-align: center;
  font-size: 14px;
  border: none;
  background: #ffffff;
  border-radius: 3.5px;
}

.text-align input[type="radio"] {
  display: none;
}

label[for="text-align-left"] {
  background: url(../images/image_editor/icon_align_left.png) no-repeat;
}

label[for="text-align-center"] {
  background: url(../images/image_editor/icon_align_center.png) no-repeat;
}

label[for="text-align-right"] {
  background: url(../images/image_editor/icon_align_right.png) no-repeat;
}

label.text-align {
  vertical-align: top;
  display: inline-block;
  border-radius: 3.5px;

  width: 30px;
  height: 30px;

  background-size: 60%;
  background-position: center;
  background-color: #eee;
  border: solid 1px #ccc;
}
label.text-align[data-checked="true"] {
  border: solid 1px #000000;
  background-color: #ffffff;
}

/*** Background Settings ***/
#background {
  margin-top: 1em;
  /*margin-bottom: 0.5em;*/
}

#background #background-scale {
	vertical-align: middle;;
	width: 39.0px;
	height: 32px;
	padding: 0;
	margin: 0;
	text-align: center;
  font-size: 14px;
  border: none;
  background: #ffffff;
  border-radius: 3.5px;
}

#background #background-color {
	vertical-align: middle;;
	width: 12.0%;
	height: 32px;
	padding: 0;
	margin: 0;
	text-align: center;
  border: none;
  background: #ffffff;
  border-radius: 3.5px;
}

#background label {
  padding: 0px 5px 5px 5px;
}

/*** GALLERY ***/
#gallery {
	margin-top: 1.0em;
	vertical-align: top;
}

#gallery #images {
	max-height: 285.75px;
	min-width: 320.5px;
	overflow-x: none;
	overflow-y: auto;
}

#gallery figure {
	width: 140px;
	height: 105px;
	display: inline-block;
	vertical-align: top;
	margin: 0em 0em 2em 0em;
}

#gallery figure.first-child {
	padding-right: 0.97em;
}

#gallery figure img {
	width:100%;
	height: 100%;
}

#gallery figure figcaption {
	text-align: center;
}

/*** CANVAS ***/
#preview {
	vertical-align: top;
	display: inline-block;
	padding: 1.25em 0 1.25em 1.5em;
  opacity: 0.0;
  border: none;
}

#canvas {
	width: 768px;
	height: 576px;
	background: #ffffff;
  display: none;
}

.bounds {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100px;
	height: 100px;
}

.visible {
  z-index:999;
	cursor: move;
	border: dashed 2px #f00;
}

#background-bouds {
  z-index:888;
}
#text-bounds {
  z-index:999;
}
